body{
    font-family: 'Poppins', sans-serif;
}
.order-food-container{
    display:flex;
    margin-top:45px;
}
.order-food-textarea{
    width: 50%;
    margin:75px;
    color:rgb(114, 98, 98);
}
.order-food-textarea h1{
    font-size:55px;
    font-weight: 700;
    line-height: 1.0;
  
}
.order-food-textarea p{
    color:rgb(160, 155, 155);
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 65px;
}
.order-food-imgarea{
    width: 50%;
}

.orange-color{
    color:rgb(255, 99, 71);
}
.order-now-button {
    text-decoration: none;
    color:white;
    background-image: linear-gradient(orange,tomato);
    padding:18px 45px;
    border-top-right-radius: 30px;
    border-top-left-radius:  30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
box-shadow: 10px 10px 15px rgb(219, 213, 213);
}
.about-me-section{
    display: flex;
    background-image: url(images/shapes/7.png);
background-size: contain;

}
.about-me-imgarea{
    width: 60%;
}
.about-me-imgarea img{
    width: 40%;
    padding-left: 20%;
padding-top: 10%;
}
.about-me-textarea{
    width: 50%;
    padding-top: 70px;;
}
.about-me-textarea p{

    margin-top: 55px;

    margin-bottom: 65px;

}
.about-me-textarea h1{
    color:grey;
    font-size: 40px;
}

.recipies-container{
    display: flex;
}
.title-1{
    width:33%
}
footer{
background-color: black;
color:white;
text-align: center;
}





