body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
header{
    width: 100%;
height: 46px;
display:flex;
}
.logo-area{
    margin:20px 20px;
}
header img{
    width:200px;
height: 60px;
}
header a{
    text-decoration: none;
    padding:20px 10px 20px 20px;
}
.anchor-link{
margin-top:45px;
padding-left: 109px;
padding-right:10px;
}
.anchor-link a{
    color:#F16623;
    font-size: 20px;
    font-weight: 700;

}
#order-pick-up{
  width:200px;
  height: 30px;
  text-align: center;
  background-color: #F16623;
  padding:20px 5px 0px 10px;
  margin:0;
}
h3{
    font-size: 20px;
    font-weight: 700;
}
#order-delivery{
    width:200px;
    height: 30px;
    text-align: center;
    background-color: #D1B499;
    padding:20px 5px 0px 10px;
    margin:0;
  }
  .order{
      margin-left: 150px;
  }












.order-food-container {
    display: flex;
    margin-top: 45px;
}

.order-food-textarea {
    width: 50%;
    margin-left: 80px;
    color: rgb(114, 98, 98);
}

.order-food-textarea h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.0;

}

.order-food-textarea p {
    color: rgb(160, 155, 155);
    font-weight: 700;
    margin-top: 45px;
    margin-bottom: 65px;
}

.order-food-imgarea {
    width: 50%;
}

.orange-color {
    color: rgb(255, 99, 71);
}

.order-now-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 18px 45px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 10px 10px 15px rgb(211, 203, 203);
}

.about-me-section {
    display: flex;
    background-image: url(images/shapes/7.png);
    background-size: contain;

}

.about-me-imgarea {
    width: 60%;
}

.about-me-imgarea img {
    width: 40%;
    padding-left: 20%;
    padding-top: 10%;
}

.about-me-textarea {
    width: 50%;
    padding-top: 70px;
    ;
}

.about-me-textarea p {
    margin-top: 55px;
    margin-bottom: 90px;

}

.about-me-textarea h1 {
    color: grey;
    font-size: 40px;
}

.recipies-picture {
    width: 100%;
    display: flex;
    padding: 20px;

}

.title-1 {
    width: 33%;
    margin: 30px;
}

.title-1 {
    width: 33%;

    margin-left: 40px;
    margin-right: 85px;

}

.title-1 img {
    width: 300px;
}

.recipy-details {
    text-align: center;
    color: rgb(75, 62, 62);

}

.recipy-details h2 {
    font-size: 35px;
    font-weight: 700;
}

.first-recipy {
    padding: 20px;
    margin-left: -5px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 55px;
    border-bottom-left-radius: 25px;
    box-shadow: 10px 10px 20px 30px rgba(131, 121, 121, 0.2);
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
   
  }
  
  
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .social-media{
      text-align: center;
      background-color: coral;
  }

  input{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
   
    
  }
  
  .contact-area{
      display: flex;
  }
  .social-media{
      width: 50%;
  }
  .email-container{
    padding: 10px;
   
  }
 
  .email{
      width: 50%;
  }

footer {
    height: 250px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 25px 80px;
}